<div style="padding: 25px;">
  <h3>Manage <a href="https://meet.dsaeugene.org" target="_blank">meet.dsaeugene.org</a></h3>

  <button mat-flat-button
          *ngFor="let drop of drops"
          color="warn"
          (click)="destroyDrop(drop)" >Shut down Jitsi Server: {{drop.name}}</button>

  <div *ngIf="drops?.length === 0">
    <button mat-flat-button
            *ngFor="let snap of snaps"
            color="primary"
            (click)="makeJitsiServer(snap.id)" >Launch Jitsi Server: {{snap.name}}</button>
  </div>

  <mat-spinner *ngIf="drops === null || snaps === null"></mat-spinner>

  <app-loader [open]="loading" [message]="loadingMessage"></app-loader>
</div>
